<% include ../partials/header %>

<div class="container">

  <header class="jumbotron">
    <div class="container">
      <h1>Been There</h1>
      <p>The place where you can see and add your favorite places in the world</p>
      <p>
        <a class="btn btn-primary btn-lrg" href="/places/new">Add your favorite place</a>
      </p>
    </div>
  </header>

  <div class="row" style="display: flex; flex-wrap: wrap">
    <% places.forEach(function(place){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= place.img %>" alt="<%= place.name %>">
          <div class="caption">
            <h4><%= place.name %></h4>
          </div>
          <p>
            <a class="btn btn-primary" href="/places/<%= place._id %>">More Info</a>
          </p>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>
